<!-- Validation failure messages -->
<% if @message.errors.any? %>
  <% @message.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Message</h3>
</div>

<div class="row">
  <div class="col-md-12">

    <form action="/create_message" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



      <!-- Label and input for user_id -->

      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>


        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @message.user_id %>">

      </div>



      <!-- Label and input for chat_id -->

      <div class="form-group">
        <label for="chat_id" class="control-label">
          Chat
        </label>


        <input type="text" id="chat_id" name="chat_id" placeholder="Chat" class="form-control" value="<%= @message.chat_id %>">

      </div>



      <!-- Label and input for text -->

      <div class="form-group">
        <label for="text" class="control-label">
          Text
        </label>


        <input type="text" id="text" name="text" placeholder="Text" class="form-control" value="<%= @message.text %>">

      </div>



      <button class="btn btn-success">
        Create Message
      </button>
      or
      <a href="/messages">Cancel</a>

    </form>

  </div>
</div>
