<!-- Validation failure messages -->
<% if @prop.errors.any? %>
  <% @prop.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Prop #<%= @prop.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">

    <form action="/update_prop/<%= @prop.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



      <!-- Label and input for post_id -->

      <div class="form-group">
        <label for="post_id" class="control-label">
          Post
        </label>


        <input type="text" id="post_id" name="post_id" placeholder="Post" class="form-control" value="<%= @prop.post_id %>">

      </div>



      <!-- Label and input for comment -->

      <div class="form-group">
        <label for="comment" class="control-label">
          Comment
        </label>


        <input type="text" id="comment" name="comment" placeholder="Comment" class="form-control" value="<%= @prop.comment %>">

      </div>



      <button class="btn btn-warning">
        Update Prop
      </button>
      or

      <a href="/props/<%= @prop.id %>">Cancel</a>


    </form>

  </div>
</div>
