<div class="page-header">
  <h1>
    Props

    <a href="/props/new" class="btn btn-lg btn-success">New Prop</a>

  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>Post</th>

        <th>Comment</th>

        <th>Actions</th>
      </tr>

      <% @props.each do |prop| %>
      <tr>

        <td><%= prop.post_id %></td>

        <td><%= prop.comment %></td>

        <td>

          <a href="/props/<%= prop.id %>" class="btn btn-primary">Show</a>
          <a href="/props/<%= prop.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_prop/<%= prop.id %>" class="btn btn-danger" rel="nofollow">Delete</a>

        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
