<div class="page-header">
  <h3>Prop #<%= @prop.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Post</dt>
      <dd><%= @prop.post_id %></dd>


      <dt>Comment</dt>
      <dd><%= @prop.comment %></dd>


    </dl>

    <div class="btn-group btn-group-justified">

      <a href="/props" class="btn btn-primary">
        Back
      </a>
      <a href="/props/<%= @prop.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_prop/<%= @prop.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>

    </div>
  </div>
</div>
