
<div class="container">

  <div class="row">
    <div class="top-cover col-xs-12">
      <div class="col-xs-4 cover-cell">
        <img src= "<%= @user.avatar_url %>" class = "margin-above-top-md img-responsive img-rounded" width = 300 pt>
      </div>
      <div>
        <h1 class = "cover-heading margin-above-top-lg"><%= @user.first_name %> <%= @user.last_name %></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-3 main-content-cell">
     <h2 class="content-cell-heading">Profile</h2>
     <hr>
     <h4>User Name</h4>
     <p><%= @user.user_name %></p>

     <h4>Contact Info</h4>
     <p><%= @user.email %></p>

     <% if  current_user.admin? %>
     <h4>Admin Account</h4>
     <% end %>
     
     <% if  current_user.id == @user.id %>
     <h4>Update Account</h4>
     <a href="/users/edit">
      <button class="btn btn-warning btn-user">
        Edit or Delete
      </button>
    </a>

    <% end %>
  </div>


  <div class="col-md-offset-1 col-md-3 main-content-cell">

    <h2 class="content-cell-heading">Host Chats</h2>
    <%  @user.chats.each do |chat| %>
    <hr>
    <div class="row">
      <a href="/chats/<%= chat.id %>">
        <img src="<%= chat.photo_url %>" class = "img-responsive img-circle row-float thumbnail-chat">
        <h4 class="thumbnail-title">
          <%= chat.title %>
        </h4>
      </a>
      <p class = "thumbnail-detail">
        with
        <% chat.participants.each do |participant|%>
        <a href = "/users/<%= participant.id %>">
          <%= participant.user_name %>;
        </a>
        <% end %>
      </p>

    </div>
    <% end %>

  </div>

  <div class="col-md-offset-1 col-md-3 main-content-cell">

    <h2 class="content-cell-heading">
      Participant Chats
    </h2>
    <%  @user.groups.each do |chat| %>
    <hr>
    <div>
      <a href="/chats/<%= chat.id %>">
        <img src="<%= chat.photo_url %>" class = "img-responsive img-circle row-float thumbnail-chat">
      </a>
      <a href="/chats/<%= chat.id %>">
        <h4 class="thumbnail-title">
         <%= chat.title %>
       </h4>
     </a>
     <p class = "clear-float">
      host
      <a href="/users/<%= chat.user_id %>">
        <%= chat.user.user_name %>
      </a>
      with
      <% chat.participants.each do |participant|%>
      <a href = "/users/<%= participant.id %>">
        <%= participant.user_name %>;
      </a>
      <% end %>
    </p>

  </div>
  <% end %>





</div>

</div>




<div class="row">
  <div class="col-md-offset-2 col-md-2"></div>
  <div class="col-md-offset-1 col-md-2"></div>
  <div class="col-md-offset-1 col-md-2"></div>
</div>
</div>
