<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">
        <%= @user.user_name %>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <img src= "<%= @user.avatar_url %>" class="img-responsive img-rounded" width = 400 pt style="padding-right: 35px;">
    </div>

    <div class="col-lg-8">
      <h3>Name</h3>
      <p><%= @user.first_name %> <%= @user.last_name %></p>

      <h3>Contact Info</h3>
      <p><%= @user.email %></p>

      <% if  current_user.id == @user.id %>
      <h3>Update Account</h3>
      <a href="/users/edit">
        <button class="btn-warning">
          Edit or Delete
        </button>
      </a>

      <h3>Badges</h3>
      <p>List of badges</p>


      <% end %>

    </div>
  </div>
</div>


<div class="row" style="padding-top: 50px;">

  <% if current_user.id == @user.id %>
  <div class="col-lg-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        Chats I'm Hosting
      </div>
      <div class="panel-body" >
        <%  @user.chats.each do |chat| %>
        <div class="row">
          <a href="/chats/<%= chat.id %>">
            <h4>
              <img src="<%= chat.photo_url %>" class = "img-responsive img-circle" width= 70 pt>
              <%= chat.title %>
            </h4>
          </a>
          <p>
            with
            <% chat.participants.each do |participant|%>
            <a href = "/users/<%= participant.id %>">
              <%= participant.user_name %>;
            </a>
            <% end %>
          </p>

        </div>
        <% end %>

      </div>
    </div>
  </div>
  <% else %>
  <p> </p>
  <% end %>


  <% if current_user.id == @user.id %>
  <div class="col-lg-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        Participant Chats
      </div>
      <div class="panel-body" >
        <%  @user.groups.each do |chat| %>
        <div class="row">
          <a href="/chats/<%= chat.id %>">
            <h4>
              <img src="<%= chat.photo_url %>" class = "img-responsive img-circle" width= 70 pt>
              <%= chat.title %>
            </h4>
          </a>
          <p>
            host
            <a href="/users/<%= chat.user_id %>">
              <%= chat.user.user_name %>
            </a>
            with
            <% chat.participants.each do |participant|%>
            <a href = "/users/<%= participant.id %>">
              <%= participant.user_name %>;
            </a>
            <% end %>
          </p>
        </div>
        <% end %>
      </div>

    </div>
  </div>
  <% else %>
  <p> </p>
  <% end %>


</div>

