<div class="portlet-body chat-widget body-window">
 <hr>

 <% @chat.posts.each do |post| %>
 <div class="row">
  <div class="col-lg-12">
    <div class="media">
      <%= link_to image_tag(post.user.avatar_url, class: "media-object img-circle portlet-user-thumbnail pull-left"), "/users/#{post.user_id}" %>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to post.user.user_name, "/users/#{post.user_id}" %>
          <span class="small pull-right"><%= time_ago_in_words(post.created_at) %></span>
        </h4>

        <%= link_to image_tag(post.photo_url, class: "img-responsive portlet-post-photo"), post_path(post.id)  %>
        
        <p><%= post.caption %></p>

        <form action="/likes" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
          <!-- Label and input for caption -->

          <div class="form-group">
            <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">
          </div>

          <div class="form-group">
            <input type="hidden" id="post_id" name="post_id" value="<%= post.id %>">
          </div>


          <button class="btn btn-default row-float">

            <% if post.likes.where({ :user_id => current_user.id }).present? %>

            <i class="fa fa-heart"></i>
            <!-- <small class="text-muted"> You liked it!</small> -->

            <% else %>

            <i class="fa fa-heart-o"></i>
            <!-- <small class="text-muted"> click to like this</small> -->

            <% end %>

          </button>
        </form>

        <% if post.likes.count > 0 %>

        <p class = "margin-above-top-sm margin-left-md">
          <%= link_to "#{post.likes.count.to_s} likes", "/posts/#{post.id}/likes" %>
        </p>

        <% else %>
        <p></p>
        <% end %>

      </div>


    </div>
  </div>
</div>
<hr>
<% end %>
</div>
</div>
