
<div class="col-md-2 col-md-offset-0 visible-lg">
  <div class="portlet portlet-default">

    <div class="portlet-heading" style="height: 70px;">
      <div class="portlet-title">
        <h3>My Chats</h3>
      </div>
      <div class="clearfix"></div>
    </div>

    <div id="chat" class="panel-collapse collapse in">
      <div>
        <div class="portlet-body chat-widget side-window">
         <hr>

         <% current_user.chats.each do |chat| %>
         <div class="row">
          <div class="col-lg-12">
            <div class="media">

              <a class="pull-left" href="/chats/<%= chat.id %>">
                <img class="media-object img-circle" src="<%= chat.photo_url %>" alt="" width= 40 pt>
              </a>
              <a href="/chats/<%= chat.id %>">
                <%= chat.title %>
              </a>

            </div>
          </div>
        </div>
        <hr>
        <% end %>

         <% current_user.groups.each do |chat| %>
         <div class="row">
          <div class="col-lg-12">
            <div class="media">

              <a class="pull-left" href="/chats/<%= chat.id %>">
                <img class="media-object img-circle" src="<%= chat.photo_url %>" alt="" width= 40 pt>
              </a>
              <a href="/chats/<%= chat.id %>">
                <%= chat.title %>
              </a>

            </div>
          </div>
        </div>
        <hr>
        <% end %>

      </div>
    </div>

  </div>
</div>

</div>


