<div class="page-header">
  <h1>
    All Chats

    <%= link_to "Start New Chat", new_chat_path, class: "btn btn-lg btn-success" %>

  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>Chat</th>

        <th>Picture</th>

        <th>Prize</th>

        <th>Host</th>

        <% if current_user.admin? %>
          <th>Chat ID</th>
        <% end %>
        
        <th>Actions</th>

      </tr>

      <% @chats.each do |chat| %>
      <tr>

        <td><%= link_to chat.title, chat_path(chat.id) %></td>

        <td><%= link_to image_tag(chat.photo_url, class: "img-responsive chat-index-photo" ), chat_path(chat.id)  %></td>

        <td>
          <% if chat.prize.present?  %>
          
            <%= link_to "#{chat.prize.name}", prize_path(chat.prize_id) %> 
            from <%= chat.prize.sponsor %>
          <% else %>
            No prize
          <% end %>
        </td>

        <td><%= link_to chat.user.user_name, "/users/#{chat.user_id}" %></td>


        <% if current_user.admin? %>
          <td><%= chat.id %></td>
        <% end %>
        
        <td>

          <%= link_to "Show", chat_path(chat.id), class: "btn btn-primary" %>
          
          <% if chat.user_id == current_user.id || current_user.admin? %>
            <%= link_to "Edit", edit_chat_path(chat.id), class: "btn btn-warning" %>
            <%= link_to "Delete", chat_path(chat.id), class: "btn btn-danger", data: {:confirm => 'Are you sure?'}, :method => :delete %>
          <% end %>
                          
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

