<!-- Validation failure messages -->
<% if @chat.errors.any? %>
<% @chat.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Create a New Chat</h3>
</div>

<div class="row">
  <div class="col-md-12">    
    <%= form_for(@chat, url: chats_path, method: "post") do |f| %>
      <%= f.label :title, class: "control-label" %>
      <%= f.text_field :title, name: "title", placeholder: "Give your chat a name", class: "form-control"  %>
      
      <%= f.label :photo_url, class: "control-label" %>
      <%= f.text_field :photo_url, name: "photo_url", placeholder: "Add a pic!", class: "form-control"  %>
    
      <%= f.label :prize, class: "control-label" %>
      <%= f.text_field :prize_id, name: "prize_id", placeholder: "Enter ID from list below", class: "form-control" %>
    
      <%= f.hidden_field :user_id, name: "user_id", class: "form-control", value: current_user.id %>
    
      <%= f.submit "Create Chat!", class: "btn btn-success margin-above-top-sm" %>
    
    <% end %>
  
    or <%= link_to "Cancel", chats_path %>
    
  </div>
</div>
