<!-- Note: the chats show page show effectively act as the Posts index page -->
<!-- Index posts and messages, in chronological order -->


<div class="container">


  <div class="row">

    <%= render("chat_side_window") %>

    <div class="col-md-7 col-md-offset-1">
     <div class="portlet portlet-default">

      <div class="portlet-heading" style="height: 75px;">
        <div class="portlet-title">
          <img src="<%= @chat.photo_url %>" class="img-circle row-float chat-header-thumbnail">
          <h3 class = "margin-left-md-lg"><%= @chat.title %></h3>
          <h5 class = "margin-left-md-lg"><i class="fa fa-circle text-green"></i>
            <a href="/users/<%= @chat.user_id %>">
              <%= @chat.user.user_name %>
            </a>
            <% @chat.participants.each do |member|%>
            , <a href="/users/<%= member.id %>"><%= member.user_name %></a>
            <% end %>
          </h5>
        </div>
      </div>

      <div class="panel-collapse collapse in">

        <div>

          <% if @chat.participants.include? current_user %>

          <%= render("chat_portlet_body") %>

          <% elsif @chat.user_id == current_user.id %>

          <%= render("chat_portlet_body") %>

          <% else %>

          <%= render("portlet_not_joined") %>

          <% end %>

        </div>

      </div>
    </div>

  </div>
</div>


  <div>
      <% if @chat.participants.include? current_user %>

      <%= render("post_form") %>

      <% elsif @chat.user_id == current_user.id %>

      <%= render("post_form") %>

      <% else %>

      <%= render("join_chat") %>

      <% end %>
  </div>

</div>










