<!-- Note: the chats show page show effectively act as the Posts index page -->
<!-- Index posts and messages, in chronological order -->


<div class="page-header">
  <h3>Chat #<%= @chat.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Title</dt>
      <dd><%= @chat.title %></dd>


      <dt>Photo url</dt>
      <dd><%= @chat.photo_url %></dd>


      <dt>Prize</dt>
      <dd><%= @chat.prize_id %></dd>


      <dt>User</dt>
      <dd><%= @chat.user_id %></dd>


    </dl>

    <div class="btn-group btn-group-justified">

      <a href="/chats" class="btn btn-primary">
        Back
      </a>
      <a href="/chats/<%= @chat.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_chat/<%= @chat.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>

    </div>
  </div>
</div>
