
<!-- Just download into assets, Javascript -->

<img src="<%= @chat.photo_url %>" class="img-responsive img-circle row-float" width = 150 pt>
<h1>
  <%= @chat.title %>
</h1>

<h3 class = "clear-float">Stats for this epic Salad battle!</h3>

<div>
  <dl class="dl-horizontal" style="padding-top: 30px;">

    <dt>
      <%= link_to @chat.user.user_name, "/users/#{@chat.user_id}" %>
      <%= link_to image_tag(@chat.user.avatar_url, class: "img-circle portlet-user-thumbnail"), "/users/#{@chat.user_id}" %>
    </dt>
    
    <dd>
      <%= @chat.user.posts.where({ :chat_id => @chat.id }).count %>
    </dd>


    <% @chat.participants.each do |participant| %>
    <dt>
      <%= link_to participant.user_name, "/users/#{participant.id}" %>
      <%= link_to image_tag(participant.avatar_url, class: "img-circle portlet-user-thumbnail"), "/users/#{participant.id}" %>
    </dt>
    <dd>
      <%= participant.posts.where({ :chat_id => @chat.id }).count %>
    </dd>
    <% end %>

  </dl>
</div>



<div>
  <h3>Time Check</h3>
  <p>
    Chat started on:
    <%= @chat.created_at.strftime("%B %d, %Y") %>
  </p>

</div>
