<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>


<h1>
  <img src="<%= @chat.photo_url %>" class="img-responsive img-circle" width = 150 pt>
  <%= @chat.title %>
</h1>

<h2>Stats for this epic Salad battle!</h2>

<div>
  <dl class="dl-horizontal" style="padding-top: 30px;">

    <dt>
      <img src="<%= @chat.user.avatar_url %>" class = "img-circle" width = 60 pt>
      <%= @chat.user.user_name %> *host*
    </dt>
    <dd>
      <%= @chat.user.posts.where({ :chat_id => @chat.id }).count %>
    </dd>


    <% @chat.participants.each do |participant| %>
    <dt>
      <%= participant.user_name %>
    </dt>
    <dd>
      <%= participant.posts.where({ :chat_id => @chat.id }).count %>
    </dd>
    <% end %>

  </dl>
</div>

<div>

  [Enter Charts Here]

</div>
