<div class="page-header">
  <h1>
    NewsFeed: All Posts
  </h1>
  <h3>Get your healthy ideas here</h3>
  <h1>
    <a href="/posts/new" class="btn btn-lg btn-success">New Post</a>
  </h1>
</div>



<% @posts.each do |post| %>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <div class="panel panel-success">

      <div class="panel-heading">
        <a href = "users/<%= post.user_id %>">
          <img src="<%= post.user.avatar_url %>" class="img-circle" width = 55 pt>
        </a>

        <a href = "users/<%= post.user_id %>">
          <%= post.user.user_name %>
        </a>
        in

        <a href = "chats/<%= post.chat_id %>">
          <%= post.chat.title %>
        </a>

      </div>

      <div class="panel-body">
        <div class ="row">
          <a href="/posts/<%= post.id %>">
            <img src="<%= post.photo_url %>" class="img-responsive" width = 600 pt>
          </a>
        </div>

        <div class = "row">
          <ul class = "list-group">
            <li class="list-group-item"><%= post.caption %></li>

            <li class="list-group-item">
              <a href="/posts/<%= post.id %>/edit" class="btn btn-warning">Edit</a>
              <a href="/delete_post/<%= post.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
            </li>
          </ul>

        </div>

      </div>

    </div>
  </div>
</div>
<% end %>
