<div class="page-header">
  <h1>
    NewsFeed: All Posts
  </h1>
  <h3>Get your healthy ideas here</h3>
</div>

<% @posts.each do |post| %>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <div class="panel panel-success">

      <div class="panel-heading">
        <%= link_to image_tag(post.user.avatar_url, class: "img-circle user-thumbnail-post-index"), "/users/#{post.user_id}"  %>
        <%= link_to post.user.user_name, "/users/#{post.user_id}"  %>
        
        in
        <%= link_to post.chat.title, chat_path(post.chat_id) %>
      </div>

      <div class="panel-body">
        <div class ="row">
          <%= link_to image_tag(post.photo_url, class: "img-responsive post-index-pic"), post_path(post.id) %>
        </div>

        <div class = "row">
          <ul class = "list-group">
            <li class="list-group-item"><%= post.caption %></li>
            <li class="list-group-item">Post ID: <%= post.id %></li>

            
            <% if post.user_id == current_user.id || current_user.admin? %> %>
            <li class="list-group-item">
              <%= link_to "Edit", edit_post_path(post.id), class: "btn btn-warning" %>
              <%= link_to "Delete", edit_post_path(post.id), class: "btn btn-danger", method: "delete" %>
            </li>
            <% end %>
            
          </ul>

        </div>

      </div>

    </div>
  </div>
</div>
<% end %>
