
<div class="row" style="padding-bottom: 10px;">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/<%= @post.user_id %>"><img src="<%= @post.user.avatar_url %>" class="img-round" width = 50 pt></a>
          <a href="/users/<%= @post.user_id %>"><%= @post.user.user_name %></a>
          <span class="small pull-right"><%= time_ago_in_words(@post.created_at) %></span>
        </h3>
        <h3>
          post in
          <a href="/chats/<%= @post.chat_id %>"><%= @post.chat.title %></a>

        </h3>

      </div>

      <div class="panel-body">

        <img src= "<%= @post.photo_url %>" class="img-responsive" width = 800 pt>

        <p><%= @post.caption %></p>

        <%= render("likes/like_button_local") %>

      </div>
    </div>
  </div>
</div>




<div class="btn-group btn-group-justified">

  <a href="/posts" class="btn btn-primary">
    Back
  </a>
  <a href="/posts/<%= @post.id %>/edit" class="btn btn-warning">
    Edit
  </a>
  <a href="/posts/<%= @post.id %>" data-method="delete" class="btn btn-danger" rel="nofollow">
    Delete
  </a>

</div>
