<div class="page-header">
  <h1>
    Prizes

    <%= link_to "Set Up a New Prize", new_prize_path, class: "btn btn-lg btn-success"  %>
    
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>Name</th>

        <th>Picture url</th>

        <th>Sponsor</th>

        <th>Prize ID</th>

        <th>Actions</th>
      </tr>

      <% @prizes.each do |prize| %>
      <tr>

        <td><%= link_to prize.name, prize_path(prize.id) %></td>

        <td><%= link_to image_tag(prize.picture_url, class: "img-responsive prize-index-picture"), prize_path(prize.id) %></td>

        <td><%= prize.sponsor %></td>

        <td><%= prize.id %></td>

        <td>

          <a href="/prizes/<%= prize.id %>" class="btn btn-primary">Show</a>
          <a href="/prizes/<%= prize.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/prizes/<%= prize.id %>" data-method="delete" class="btn btn-danger" rel="nofollow">Delete</a>

        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
