<div class="page-header">
  <h3>Prize #<%= @prize.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Name</dt>
      <dd><%= @prize.name %></dd>


      <dt>Picture url</dt>
      <dd><%= @prize.picture_url %></dd>


      <dt>Sponsor</dt>
      <dd><%= @prize.sponsor %></dd>


      <dt>Chat</dt>
      <dd><%= @prize.chat_id %></dd>


    </dl>

    <div class="btn-group btn-group-justified">

      <a href="/prizes" class="btn btn-primary">
        Back
      </a>
      <a href="/prizes/<%= @prize.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_prize/<%= @prize.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>

    </div>
  </div>
</div>
